In [ ]:
geoload.py

In [7]:
import urllib.request, urllib.parse, urllib.error
import http
import sqlite3
import json
import time
import ssl
import sys

api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'

if api_key is False:
    api_key = 42
    serviceurl = "http://py4e-data.dr-chuck.net/geojson?"
else :
    serviceurl = "https://maps.googleapis.com/maps/api/geocode/json?"

# Additional detail for urllib
# http.client.HTTPConnection.debuglevel = 1

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('''
CREATE TABLE IF NOT EXISTS Locations (address TEXT, geodata TEXT)''')

# Ignore SSL certificate errors
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

fh = open("where.data")
count = 0
for line in fh:
    if count > 200 :
        print('Retrieved 200 locations, restart to retrieve more')
        break

    address = line.strip()
    print('')
    cur.execute("SELECT geodata FROM Locations WHERE address= ?",
        (memoryview(address.encode()), ))

    try:
        data = cur.fetchone()[0]
        print("Found in database ",address)
        continue
    except:
        pass

    parms = dict()
    parms["address"] = address
    if api_key is not False: parms['key'] = api_key
    url = serviceurl + urllib.parse.urlencode(parms)

    print('Retrieving', url)
    uh = urllib.request.urlopen(url, context=ctx)
    data = uh.read().decode()
    print('Retrieved', len(data), 'characters', data[:20].replace('\n', ' '))
    count = count + 1

    try:
        js = json.loads(data)
    except:
        print(data)  # We print in case unicode causes an error
        continue

    if 'status' not in js or (js['status'] != 'OK' and js['status'] != 'ZERO_RESULTS') :
        print('==== Failure To Retrieve ====')
        print(data)
        break

    cur.execute('''INSERT INTO Locations (address, geodata)
            VALUES ( ?, ? )''', (memoryview(address.encode()), memoryview(data.encode()) ) )
    conn.commit()
    if count % 10 == 0 :
        print('Pausing for a bit...')
        time.sleep(1)

print("Run geodump.py to read the data from the database so you can vizualize it on a map.")

Found in database  AGH University of Science and Technology

Found in database  Academy of Fine Arts Warsaw Poland

Found in database  American University in Cairo

Found in database  Arizona State University

Found in database  Athens Information Technology

Found in database  BITS Pilani

Found in database  Babcock University

Found in database  Banaras Hindu University

Found in database  Bangalore University

Found in database  Baylor University

Found in database  Beijing normal university

Found in database  Belarusian State University

Found in database  Belgrade University

Found in database  Beloit College

Found in database  Belorussian State University

Found in database  Ben Gurion University

Found in database  Bharthidasan University

Found in database  Boston University

Found in database  California Polytechnic State University of San Luis Obispo

Found in database  California State University San Bernardino

Found in database  City of Westminster College

Found in database  Columbia University

Found in database  Cranfield University

Found in database  Czech Technical University in Prague

Found in database  Dartmouth

Found in database  De Anza College

Found in database  Distant University of Hagen

Found in database  Dnipropetrovsk National University

Found in database  Dokuz Eylul University

Found in database  Drexel

Found in database  Drexel University and University of Texas at Austin

Found in database  Duke University

Found in database  EM Lyon

Found in database  Ecole centrale de PARIS

Found in database  Elon University

Found in database  Erhvervsakademi Sydvest

Found in database  Escuela Superior Politecnica del Litoral

Found in database  Fachhochschule Dusseldorf

Found in database  Fachhochschule FH Salzburg

Found in database  Faculdade de Tecnologia do Estado de Sao Paulo

Found in database  Faculty of Technical Sciences Novi Sad Serbia

Found in database  Farmingdale State University

Found in database  Federal University of Minas Gerais

Found in database  Florida Atlantic University

Found in database  Franklin Pierce College

Found in database  Gauhati University

Found in database  George Mason University

Found in database  Georgetown University Law Center

Found in database  Georgia State University

Found in database  Grandville

Found in database  Groep T University

Found in database  Hanoi University of Science and Technology

Found in database  Hebrew University

Found in database  IIIT Hyderabad

Found in database  IIT KANPUR

Found in database  IT College of Estonia

Found in database  IU

Found in database  IUAV Venezia

Found in database  Illinois Institute of Technology

Found in database  Illinois State University Joliet Junior College

Found in database  Indian Institute of Technology

Found in database  Indian Institute of Technology Kharagpur India

Found in database  Indian School of Mines Dhanbad

Found in database  Indiana University

Found in database  Indiana University at Bloomington

Found in database  Institut Superieur de technologies

Found in database  Institute of Business and Modern Technologies

Found in database  Instituto Tecnologico de Santo Domingo

Found in database  International Institute of Information Technology Hyderabad

Found in database  Irkutsk State University

Found in database  JADAVPUR UNIVERSITY

Found in database  Jawaharlal Nehru Technological University

Found in database  Jawaharlal Nehru University

Found in database  Jordan University of Science and Technology

Found in database  K-State

Found in database  KUL

Found in database  Kalamazoo College

Found in database  Kaunas Technology University

Found in database  Kaunas university of technology

Found in database  Kazan Federal University

Found in database  Kent State University

Found in database  Kharkiv State Academy of Municipal Economy Ukraine

Found in database  King Mongkuts University of Technology Thonburi

Found in database  Kokshetau Institute of Economics and Management

Found in database  Kyiv Polytechnic Institute

Found in database  Kyiv Polytechnical Institute

Found in database  Kyiv Unisersity of Oriental Language

Found in database  Laurentian University

Found in database  Lisandro Alvarado

Found in database  Lodz University of Technology

Found in database  Lviv University

Found in database  MSU

Found in database  Madras university

Found in database  Magnitogorsk State Technical University

Found in database  Malayer Azad University

Found in database  Marietta College

Found in database  Masdar Institute

Found in database  Matematicki fakultet Beograd

Found in database  Michigan State University

Found in database  Middle East Technical University

Found in database  Missouri University of Science and Technology

Found in database  Monash

Found in database  Monash University

Found in database  Monash University Churchill Australia

Found in database  Monterrey Institute of Technology and Higher Education

Found in database  Moscow Engineering-Physics Institute

Found in database  Moscow Institute of Physics & Technology

Found in database  Moscow State University

Found in database  NIT ROURKELA

Found in database  NYU

Found in database  Nagpur University

Found in database  Nanyang Technological University

Found in database  National Institute of Technology Jalandhar

Found in database  National Taiwan University

Found in database  National University of Engineering

Found in database  North Central College

Found in database  Northeastern University

Found in database  Northwestern University

Found in database  Obninsk Technical University of Nuclear Power Engineering Russia

Found in database  Old Dominion University

Found in database  Oregon Institute of Technology

Found in database  PUCMM

Found in database  Payame Noor University

Found in database  Penn State University

Found in database  Politecnico di Milano

Found in database  Politehnica University Bucharest

Found in database  Polytechnic University of Timisoara

Found in database  Pondicherry University

Found in database  Pontificia universidad catolica de chile

Found in database  Portland State University

Found in database  Purdue University Indianapolis

Found in database  R V College of Engineering

Found in database  RPI

Found in database  Ramapo College of New Jersey

Found in database  Rochester Institute of Technology

Found in database  SASTRA University

Found in database  Saint Petersburg State University

Found in database  Saint Petersburg State University of Aerospace Instrumentation

Found in database  Saint-Petersburg Polytechnic Univesity

Found in database  San Francisco State University

Found in database  San Jose State University

Found in database  Shanghai Jiao Tong University

Found in database  Sharif University of Technology

Found in database  Simon Bolivar University

Found in database  Simon Fraser University

Found in database  Smolensk State University

Found in database  Sonoma State University

Found in database  South Federal University

Found in database  Spiru Haret University

Found in database  Stanford

Found in database  State University of Campinas

Found in database  State University of New York College at Oswego

Found in database  Stellenbosch University

Found in database  Stonehill College

Found in database  Tallinn University

Found in database  Tallinn University of Technology

Found in database  Tampere University of Technology

Found in database  Tanta University

Found in database  Tarrant County College

Found in database  Technical University of Cluj-Napoca

Found in database  Technion

Found in database  Tel Aviv University

Found in database  The Jerusalem collage of engineering

Found in database  The University of Latvia

Found in database  The University of Manchester

Found in database  The University of South Africa

Found in database  Transilvania University

Found in database  Tufts University

Found in database  UC Berkeley

Found in database  UCLA

Found in database  UCSD

Found in database  UIUC

Found in database  UMD

Found in database  UNISA

Found in database  UNIVERSIDAD DE Buenos Aires

Found in database  UOC

Found in database  USC

Found in database  UW Madison

Found in database  Universidad Central de Venezuela

Found in database  Universidad Complutense de Madrid

Found in database  Universidad Cooperativa de Colombia

Found in database  Universidad Nacional Autonoma de Mexico

Found in database  Universidad Nacional Costa Rica

Found in database  Universidad Nacional de Colombia

Found in database  Universidad Tecnologica Boliviana

Found in database  Universidad de Buenos Aires

Found in database  Universidad de Castilla La Mancha

Found in database  Universidad de Los Andes Colombia

Found in database  Universidad de Oriente

Found in database  Universidad de San Carlos de Guatemala

Found in database  Universidad de Valladolid

Found in database  Universidad de la Sabana

Found in database  Universidad del Valle de Guatemala

Found in database  Universidade Federal da Paraiba

Found in database  Universidade Federal de Santa Catarina

Found in database  Universidade Federal do Rio Grande do Sul

Found in database  Universidade Federal do Rio de Janeiro

Found in database  Universidade Tecnica de Lisboa

Found in database  Universidade de Sao Paulo

Found in database  Universidade do Minho

Found in database  Universitas Gadjah Mada

Found in database  Universitat Politecnica de Valencia

Found in database  Universite Catholique de Louvain

Found in database  University College Dublin

Found in database  University Munich

Found in database  University of Akron

Found in database  University of Alberta

Found in database  University of Amsterdam

Found in database  University of Arkansas

Found in database  University of Athens

Found in database  University of Belgrade

Found in database  University of Birmingham

Found in database  University of Buenos Aires

Found in database  University of Cambridge

Found in database  University of Central Oklahoma

Found in database  University of Chicago

Found in database  University of Cincinnati

Found in database  University of Colorado at Boulder

Found in database  University of Connecticut

Found in database  University of Dallas

Found in database  University of Debrecen

Found in database  University of Delaware

Found in database  University of Erlangen-Nuremberg

Found in database  University of Essex

Found in database  University of Evora

Found in database  University of Florida

Found in database  University of Gothenburg

Found in database  University of Greifswald

Found in database  University of Hamburg

Found in database  University of Hawaii

Found in database  University of Helsinki

Found in database  University of Ilorin Kwara State

Found in database  University of Jaffna

Found in database  University of Kansas

Found in database  University of Kerala

Found in database  University of London

Found in database  University of Malaga

Found in database  University of Malaya

Found in database  University of Manchester

Found in database  University of Michigan

Found in database  University of Missouri - Columbia

Found in database  University of Moratuwa

Found in database  University of Mumbai

Found in database  University of Nebraska

Found in database  University of Nebraska - Lincoln

Found in database  University of New Haven

Found in database  University of New South Wales

Found in database  University of Notre Dame

Found in database  University of Oklahoma

Found in database  University of Ottawa

Found in database  University of Oxford

Found in database  University of Padua

Found in database  University of Pavia Italy

Found in database  University of Pennsylvania

Found in database  University of Piraeus Athens

Found in database  University of Pretoria

Found in database  University of Salamanca

Found in database  University of Sao Paulo

Found in database  University of Sarajevo

Found in database  University of Southern California

Found in database  University of Stellenbosch

Found in database  University of Tartu

Found in database  University of Tehran

Found in database  University of Texas

Found in database  University of Texas at Austin

Found in database  University of Toronto

Found in database  University of Tuebingen

Found in database  University of Twente

Found in database  University of Utah

Found in database  University of Vienna

Found in database  University of Warsaw

Found in database  University of Washington

Found in database  University of Washington - Bothell

Found in database  University of Waterloo

Found in database  University of West Florida

Found in database  University of Wisconsin

Found in database  University of the Punjab Lahore

Found in database  University of the Witwatersrand

Found in database  Vilnius Gediminas Technical University

Found in database  Vilnius University

Found in database  Virginia Commonwealth University

Found in database  Virginia Tech

Found in database  Viswakarma Institute Pune India

Found in database  Warsaw University

Found in database  Washington State University

Found in database  Wayne State

Found in database  Weber State

Found in database  Weizmann Institute of Science

Found in database  Western Governors University

Found in database  Xavier University

Found in database  Zagazig University

Found in database  allama iqbal open university islamabad

Found in database  arizona state university

Found in database  federal institute of tecnology and education from southeastern Minas Gerais

Found in database  kansas state university

Found in database  universidad complutense de madrid

Found in database  university of Patras

Found in database  university of padua
Run geodump.py to read the data from the database so you can vizualize it on a map.

In [8]:
import sqlite3
import json
import codecs

conn = sqlite3.connect('geodata.sqlite')
cur = conn.cursor()

cur.execute('SELECT * FROM Locations')
fhand = codecs.open('where.js', 'w', "utf-8")
fhand.write("myData = [\n")
count = 0
for row in cur :
    data = str(row[1].decode())
    try: js = json.loads(str(data))
    except: continue

    if not('status' in js and js['status'] == 'OK') : continue

    lat = js["results"][0]["geometry"]["location"]["lat"]
    lng = js["results"][0]["geometry"]["location"]["lng"]
    if lat == 0 or lng == 0 : continue
    where = js['results'][0]['formatted_address']
    where = where.replace("'", "")
    try :
        print(where, lat, lng)

        count = count + 1
        if count > 1 : fhand.write(",\n")
        output = "["+str(lat)+","+str(lng)+", '"+where+"']"
        fhand.write(output)
    except:
        continue

fhand.write("\n];\n")
cur.close()
fhand.close()
print(count, "records written to where.js")
print("Open where.html to view the data in a browser")

Dormitory no. 14 "Kapitol" of AGH University of Science and Technology in Cracov, Poland, Witolda Budryka 2, 30-072 Kraków, Poland 50.0676785 19.9070824
Warsaw, Poland 52.2296756 21.0122287
American University Housing District, Cairo Governorate, Egypt 30.0068972 31.5005988
State Ave, Tempe, AZ 85281, USA 33.4232051 -111.8879509
Information Technology Services, 2500 Daniels Bridge Rd, Athens, GA 30606, USA 33.9094658 -83.4604372
BITS, Pilani, Rajasthan 333031, India 28.3580163 75.5887989
Babcock Dr, Rochester, NY 14610, USA 43.1294077 -77.5479304
Banaras Hindu University Campus, Varanasi, Uttar Pradesh, India 25.2685304 82.9904737
Bangalore University Rd, Bengaluru, Karnataka 560056, India 12.9426914 77.5053145
Baylor Blvd, Fairbanks, AK 99709, USA 64.8852156 -147.8009743
Capital Normal University, Haidian, Beijing, China, 100037 39.9304437 116.3076925
Monument to Fallen Professors and Students of the Belarusian State University, Minsk, Belarus 53.89318369999999 27.547338
Belgrade Dr, Plano, TX 75023, USA 33.0430635 -96.72549579999999
College St, Beloit, WI 53511, USA 42.5030209 -89.0295642
Monument to Fallen Professors and Students of the Belarusian State University, Minsk, Belarus 53.89318369999999 27.547338
Derech Ben Gurion, Bat Yam, Israel 32.0184325 34.738834
Bharathidasan University Bus Stop, Mathur, Mandaiyur, Tamil Nadu 620024, India 10.6779821 78.7379529
Boston College, Boston, MA 02467, USA 42.3400834 -71.1669754
San Luis Obispo, CA, USA 35.2827524 -120.6596156
N State St, San Bernardino, CA, USA 34.1515641 -117.3354402
Westminster, College Station, TX 77845, USA 30.54917979999999 -96.2980214
Columbia, Irvine, CA 92612, USA 33.6520436 -117.8286548
Cranfield University Bldg, 45 College Rd, Cranfield, Bedford, Central Bedfordshire MK43 0AL, UK 52.0742111 -0.6300115
Prague, Czech Republic 50.0755381 14.4378005
Dartmouth, MA, USA 41.6130323 -70.9704787
Campus Dr, Cupertino, CA 95014, USA 37.319538 -122.0433207
Hagen, Germany 51.3670777 7.4632841
Dnepropetrovsk, Dnipropetrovsk Oblast, Ukraine 48.464717 35.046183
İnciraltı, Dokuz Eylül Ünv. Hst., 35330 Balçova/İzmir, Turkey 38.39469810000001 27.0322689
Drexel, MO, USA 38.47945929999999 -94.60856629999999
Austin, TX, USA 30.267153 -97.7430608
Duke St SW, Cedar Rapids, IA 52404, USA 41.9197689 -91.649501
E M Mitchell & Sons, Hermitage, Dorchester, Dorset DT2 7BB, UK 50.862282 -2.4998561
Allée Centrale, 75001 Paris, France 48.8635276 2.3272053
Elon, NC, USA 36.09827620000001 -79.5115433
Business Academy South West, Spangsbjerg Kirkevej, 6700 Esbjerg, Denmark 55.4883363 8.4468283
Escuela Superior Politécnica del Litoral (ESPOL), Ancón, Ecuador -2.3256889 -80.8535199
Fachhochschule Düsseldorf, 40225 Düsseldorf, Germany 51.1877226 6.793873400000001
Salzburg, Austria 47.80949 13.05501
Faculdade de Ciências Tecnologia de Birigui - R. Antônio Simões, 4 - Centro, Birigui - SP, Brazil -21.2867332 -50.3393135
Novi Sad, Serbia 45.2671352 19.8335496
State University / Farmingdale, Melville, NY 11735, USA 40.755915 -73.42743
Reitoria da Universidade Federal de Uberlândia - Av. João Naves de Ávila, 2121 - Santa Mônica, Uberlândia - MG, Brazil -18.92028 -48.261575
Atlantic University Cir, Jacksonville, FL 32207, USA 30.3135522 -81.6004765
Elijah Pierce Ave, Columbus, OH 43203, USA 39.9678929 -82.98294159999999
Gauhati University, Jalukbari, Guwahati, Assam, India 26.1529683 91.66392350000001
George Mason University, Braddock, VA 22030, USA 38.83419 -77.307587
Law School (David A. Harrison III Law Grounds), Charlottesville, VA 22901, USA 38.0529062 -78.50964309999999
State University Dr, Fort Valley, GA 31030, USA 32.5297685 -83.90536
Grandville, MI, USA 42.9097484 -85.7630885
Research Group Software Construction - RWTH Aachen University, Ahornstraße 55, 52074 Aachen, Germany 50.77804399999999 6.060226000000001
University of Science and Technology of Hanoi, 18 Hoàng Quốc Việt, Nghĩa Đô, Cầu Giấy, Hà Nội, Vietnam 21.0481459 105.8012935
The Hebrew University, Jerusalem 31.779299 35.197143
IIIT, Gachibowli, Hyderabad, Telangana 500032, India 17.4447918 78.3483098
IIT Kanpur Air Strip, Nankari, Kalyanpur, Kanpur, Uttar Pradesh 208016, India 26.5203418 80.23247990000002
IT College, 12616 Tallinn, Estonia 59.39547889999999 24.6643169
91100 Ii, Finland 65.3174411 25.3734596
Università Iuav di Venezia Palazzo Badoer, 30125 Venezia, Italy 45.4381291 12.3253617
Iit Tower, Chicago, IL 60616, USA 41.8313959 -87.6272312
Illinois, USA 40.6331249 -89.3985283
Indian Institute Of Technology, Chennai, Tamil Nadu, India 12.9914929 80.2336907
AIESEC IIT Kharagpur, Indian Institute of Technology Kharagpur, IIT Kharagpur, Kharagpur, West Bengal 721302, India 22.320423 87.309422
Dhanbad, Jharkhand, India 23.7956531 86.43038589999999
Indiana University, Bloomington, IN 47405, USA 39.1670467 -86.5269373
Hilltop Garden and Nature Center at Indiana University, 2367 E 10th St, Bloomington, IN 47408, USA 39.174335 -86.50546899999999
Institut Supérieur de Technologie, Samara 72000 26.7391812 -11.6646723
Changchun Institute of Technology Modern Business Centre, Guilin Road, Chaoyang, Changchun, Jilin, China, 130021 43.8612402 125.3207967
Instituto Tecnológico, Minatitlán, Ver., Mexico 17.9972951 -94.5625527
Hyderabad, Telangana, India 17.385044 78.486671
Irkutsk, Irkutsk Oblast, Russia 52.28697409999999 104.3050183
Jadavpur University Lake, Sahid Smirity Colony, Pancha Sayar, Kolkata, West Bengal 700094 22.4828735 88.39486699999999
Jawaharlal Nehru Technological University, Kukatpally, Hyderabad, Telangana, India 17.4930263 78.39062179999999
Jawaharlal Nehru University, New Delhi, Delhi, India 28.543087 77.16583779999999
Hong Kong University Of Science And Technology Staff Quarters House Block 8, Clear Water Bay, Hong Kong 22.3404614 114.2607123
Rte K, Missouri, USA 39.439999 -91.5978512
Kutas, Hungary 46.3339075 17.4542123
College Cir, Kalamazoo, MI 49008, USA 42.2555542 -85.6407559
Kaunas, Lithuania 54.8985207 23.9035965
Kaunas, Lithuania 54.8985207 23.9035965
Kazan, Tatarstan, Russia 55.8304307 49.06608060000001
Kent State University Airport, 4020 Kent Rd, Stow, OH 44224, USA 41.152199 -81.415802
Kharkiv, Kharkiv Oblast, Ukraine 49.9935 36.230383
Thon Buri, Bangkok, Thailand 13.7164911 100.4874338
Kokshetau 020000, Kazakhstan 53.2948229 69.4047872
Kiev Polytechnic Institute Park, просп. Перемоги, Kyiv, Ukraine 50.4512491 30.4595543
Kiev Polytechnic Institute Park, просп. Перемоги, Kyiv, Ukraine 50.4512491 30.4595543
Kiev, Ukraine 50.4501 30.5234
University Laurentian, Copper Cliff, ON P0M 1N0, Canada 46.46192509999999 -80.9664623
Alvarado, Rosario, Santa Fe, Argentina -32.9443117 -60.6956338
Institute of Applied Computer Science, Lodz University of Technology, 90-924 Łódź, Poland 51.74580599999999 19.4489068
Lviv, Lviv Oblast, Ukraine 49.839683 24.029717
MSU، Béchar, Algeria 31.6005881 -2.2269965
University Rd, Mandaiyur, Tamil Nadu 620024, India 10.6578666 78.7451667
Magnitogorsk, Chelyabinsk Oblast, Russia 53.4129429 59.00162330000001
Malayer, Hamedan, Iran 34.3020001 48.8145943
Marietta Ave, Fairbanks, AK 99701, USA 64.859787 -147.7224427
Masdar Institute PRT Station - Abu Dhabi - United Arab Emirates 24.4337071 54.6178356
Belgrade, Serbia 44.786568 20.4489216
Michigan State University, East Lansing, MI 48823, USA 42.726655 -84.46992999999999
METU Guest House, Kalkanlı 35.246756 33.0307541
Beijing University of Technology the Science Building, Chaoyang, Beijing, China, 100124 39.8729896 116.4796427
Monash ACT 2904, Australia -35.4158638 149.0897893
Monash College, Wellington Rd, Clayton VIC 3168, Australia -37.914517 145.1303881
Monash University Gippsland Student Lounge, 7N Mary Grant Bruce Dr, Churchill VIC 3842, Australia -38.3105571 146.4292232
Monterrey, N.L., Mexico 25.6866142 -100.3161126
Moscow, Russia 55.755826 37.6173
Moscow, Russia 55.755826 37.6173
Lomonosov Moscow State University, MSU Institute of Mechanics, Michurinskiy pr., 1, Moskva, Russia, 119192 55.7066609 37.5169664
NIT Backpost, Sector 1, Rourkela, Odisha 769008, India 22.2557869 84.9125553
Nyu, Mihama, Mikata District, Fukui Prefecture 919-1201, Japan 35.712815 135.9711705
Nagpur University Campus, Nagpur, Maharashtra 440033, India 21.1470404 79.0397862
Nanyang Technological University Shanghai Office, Pudong, Shanghai, China, 201203 31.204638 121.5853839
Jalandhar, Punjab, India 31.3260152 75.57618289999999
National Taiwan Normal University Main Campus I, Da’an District, Taipei City, Taiwan 106 25.0254571 121.5273658
National Baguio University, Bokawkan, Baguio, Benguet, Philippines 16.4226352 120.5906046
N Central Ave, Tampa, FL, USA 28.0530332 -82.4553299
Northeastern, Boston, MA 02115, USA 42.340075 -71.0895367
Lyceum NorthWestern University, Urdaneta City, Pangasinan, Philippines 15.9447035 120.5815111
Obninsk, Kaluga Oblast, Russia 55.1170375 36.5970818
Old Dominion University, 5115 Hampton Blvd, Norfolk, VA 23508, USA 36.8838958 -76.3040214
Oregon Institute of Technology, Klamath Falls, OR 97601, USA 42.25442899999999 -121.785164
Tanque PUCMM, Santiago De Los Caballeros 51000, Dominican Republic 19.4478319 -70.6832457
Gilan, Rezvanshahr, بلوار رضوان شهر، Payam Noor University, Iran 37.5495046 49.13792429999999
State College, PA, USA 40.7933949 -77.8600012
Via del Vecchio Politecnico, 20121 Milano, Italy 45.4723536 9.1964496
Bucharest, Romania 44.4267674 26.1025384
Timișoara, Romania 45.7488716 21.2086793
Pondicherry University, Kalapet, Puducherry 605014, India 12.0263438 79.8492812
Pontificia Universidad Catolica De Valparaiso - Gimpert, Valparaíso, Valparaíso, Región de Valparaíso, Chile -33.0444219 -71.60663339999999
Portland State University Community Garden, SW 12th Ave, Portland, OR 97201, USA 45.513099 -122.6885447
Lynwood Farm Purdue University, Carmel, IN 46033, USA 39.9673126 -86.0577399
College of Engineering, 419, Buraydah 52571, Saudi Arabia 26.3462258 43.7633239
KP Shethi Building, Janmabhoomi Marg, Kala Ghoda, Fort, Mumbai, Maharashtra 400001, India 18.9331831 72.8341894
College Rd, Monsey, NY 10952, USA 41.1228928 -74.0865966
Rochester Institute of Technology, Rochester, NY 14623, USA 43.0800758 -77.6737734
Sastra University Road, Tirumalaisamudram, Tamil Nadu 613401, India 10.7295115 79.0196067
St Petersburg, FL, USA 27.7518284 -82.6267345
St Petersburg, FL, USA 27.7518284 -82.6267345
St Petersburg, FL, USA 27.7518284 -82.6267345
States St, San Francisco, CA 94114, USA 37.7634766 -122.4390923
State St, San Jose, CA 95110, USA 37.3229926 -121.8832
Shanghai Sixth Peoples Hospital Affiliated to Shanghai Jiao Tong University In-patient Department, Xuhui, Shanghai, China, 200231 31.17900569999999 121.4219573
Tehran, Tehran, Moradi Alley, Pounak Dormitory (Affl. Sharif University of Technology), Iran 35.7569204 51.3277804
Simon Bolívar, Chihuahua, Chih., Mexico 28.6379654 -106.094602
Simon Fraser Crescent, Saskatoon, SK S7H, Canada 52.12481500000001 -106.589195
Smolensk, Smolensk Oblast, Russia 54.7903112 32.0503663
Sonoma State University, California 94928, USA 38.3380748 -122.6750043
S Federal Blvd, Denver, CO, USA 39.6726798 -105.0250535
Strada Spiru Haret, Cernavodă 905200, Romania 44.33747229999999 28.036876
Stanford, CA, USA 37.42410599999999 -122.1660756
Campinas, Campinas - State of São Paulo, Brazil -22.9099384 -47.0626332
Oswego, NY, USA 43.4553461 -76.5104973
Stellenbosch University, Cape Town, 7530, South Africa -33.8812733 18.6264694
Stonehill College Rd, Easton, MA, USA 42.0594537 -71.0819465
Tallinn University of Technology Stadium, 12616 Tallinn, Estonia 59.39384699999999 24.6650872
Tallinn University of Technology Stadium, 12616 Tallinn, Estonia 59.39384699999999 24.6650872
33100 Tampere, Finland 61.4981508 23.7610254
Tanta, Al Agouzah, Giza Governorate, Egypt 30.0564126 31.2102065
Tarrant County College, Fort Worth, TX 76119, USA 32.66673900000001 -97.28993
Cluj-Napoca, Romania 46.7712101 23.6236353
Technion/ Sports Building, Haifa 32.778949 35.019648
Tel Aviv - University, Tel Aviv-Yafo 32.1036377 34.8046418
J-M college of Engineering, Jerusalem 31.771177 35.194163
University of Latvia Library, Kalpaka bulvāris 4, Centra rajons, Rīga, LV-1050, Latvia 56.9529022 24.1138355
University of Manchester, 72 Sackville St, Manchester, Manchester M1 3NJ, UK 53.4751017 -2.2353695
University Ave S, Rondebosch, Cape Town, 7700, South Africa -33.9592646 18.4607236
University Dr, Lexington, KY, USA 38.0269358 -84.5059723
South Hall Tufts University, 30 Lower Campus Rd, Somerville, MA 02144, USA 42.4036847 -71.120482
California St, Berkeley, CA, USA 37.8764984 -122.2804342
Ucla Ln, Altoona, PA 16602, USA 40.5382913 -78.3528584
UC San Diego School of Management, La Jolla, CA 92093, USA 32.8866612 -117.2413398
UIUC Engineering Hall, Urbana, IL 61801, USA 40.110833 -88.22694399999999
Japan, 〒875-0002 Ōita-ken, Usuki-shi, Shitanoe, 1232−2 ＵＭＤ 33.1561058 131.826132
Yungondi Building, North Terrace, Adelaide SA 5000, Australia -34.9221963 138.5922272
Universidad de Buenos Aires, Manuel Alberti, Buenos Aires, Argentina -34.4414891 -58.75956629999999
New York, NY, USA 40.7127837 -74.0059413
Usc, 6749, Switzerland 46.4062583 8.904048399999999
University of Wisconsin-Madison Arboretum, 1207 Seminole Hwy, Madison, WI 53711, USA 43.0447617 -89.4245627
Ave Central, San Juan, San Juan, Puerto Rico 18.4074917 -66.062465
Av. Complutense, Madrid, Madrid, Spain 40.4469796 -3.7278167
Universidad Cooperativa de Colombia Bloque 31, Bogotá, Colombia 4.7500846 -74.032709
National Autonomous University of Mexico, Mexico City, Federal District, Mexico 19.3188895 -99.1843676
Universidad Nacional, 150, Nicoya, Costa Rica 10.1345309 -85.4467445
Colombia, Loja, Ecuador -4.009976 -79.2085378
Bolivia, Plaza de las Americas, 76048 Santiago de Querétaro, Qro., Mexico 20.5898607 -100.3751526
Universidad de Buenos Aires, Manuel Alberti, Buenos Aires, Argentina -34.4414891 -58.75956629999999
Universidad, 28801 Alcalá de Henares, Madrid, Spain 40.480453 -3.3638513
Parqueadero Universidad Del Valle, Cali, Cali, Valle del Cauca, Colombia 3.4321247 -76.54617089999999
Universidad de Oriente, Avenida 21 Oriente 1816, Zona Sin Asignación de Nombre de Col 39, Azcarate, Puebla, Pue., Mexico 19.0303192 -98.1903344
Bufete Popular Universidad de San Carlos, Guatemala City, Guatemala 14.6360021 -90.50953969999999
Universidad, 47002 Valladolid, Valladolid, Spain 41.6518587 -4.7215284
Universidad De La Sabana, Chía, Chía, Cundinamarca, Colombia 4.860259500000001 -74.03330319999999
Guatemala, Cd Madero, Tamps., Mexico 22.2567635 -97.83456540000002
Universidade Federal da Paraíba - CAVN - R. Santos Dumont, Bananeiras - PB, 58220-000, Brazil -6.751508599999999 -35.6437193
Calz Sta Catarina, Ciudad de México, D.F., Mexico 19.3490169 -99.19910089999999
Ac. Universidade Federal do Rio Grande do Sul, Porto Alegre - RS, Brazil -30.0699518 -51.118329
Cidade Universitária, Rio de Janeiro - State of Rio de Janeiro, Brazil -22.8626877 -43.2258954
Av. Universidade Técnica, Lisboa, Portugal 38.7139308 -9.197198799999999
Av. da Universidade - Butantã, São Paulo - SP, Brazil -23.5634327 -46.7159511
Universidade do Minho, 4710 Braga, Portugal 41.557583 -8.397568
Pusat Studi Keamanan dan Perdamaian Universitas Gadjah Mada (PSKP UGM), Sinduadi, Mlati, Sleman Regency 55281, Indonesia -7.771949 110.374874
Universitat Politècnica, 46022 Valencia, Valencia, Spain 39.48131559999999 -0.3505
Université Catholique de Louvain ET. DUTIL. PUB, 6000 Charleroi, Belgium 50.4079951 4.4482526
Ucd Post Office, University College Dublin, Stillorgan Rd, Belfield, Dublin 4, Ireland 53.3053439 -6.220654
Munich Center for Dispute Resolution, Veterinärstraße 5, 80539 München, Germany 48.15038000000001 11.5831501
University of Akron, Akron, OH, USA 41.0757602 -81.5113878
N Alberta, Mesa, AZ 85205, USA 33.428283 -111.750401
Amsterdam, Marikina, Metro Manila, Philippines 14.6311122 121.0925464
University, Clarksville, AR 72830, USA 35.4747303 -93.4673475
Athens, Irvine, CA 92614, USA 33.6813785 -117.8207916
Belgrade Dr, Plano, TX 75023, USA 33.0430635 -96.72549579999999
Birmingham, Abilene, TX 79601, USA 32.485186 -99.7334839
Av. Buenos Aires, 32004 Ourense, Orense, Spain 42.3423603 -7.855278800000001
University Of Cambridge, Cambridge, Cambridge, Cambridgeshire CB2, UK 52.20166709999999 0.1177882
Central Pkwy, Norman, OK 73071, USA 35.2436124 -97.4164768
Chicago Ave, Temple Terrace, FL 33617, USA 28.0282578 -82.39242689999999
Cincinnati Ave, El Paso, TX 79902, USA 31.7801651 -106.4981503
Colorado Ave & University Heights, Boulder, CO 80302, USA 40.0082221 -105.2591119
Connecticut, San Juan, Metro Manila, Philippines 14.6007987 121.0511111
Dallas, Campestre III Etapa, 31213 Chihuahua, Chih., Mexico 28.6450197 -106.1127292
Debrecen, Debrecen University-Botanical Garden, 4032 Hungary 47.55847929999999 21.620443
Delaware, Irvine, CA 92620, USA 33.7105331 -117.7759092
Friedrich Alexander University of Erlangen Nuremberg - Informatik, Martensstraße, 91058 Erlangen, Germany 49.5737593 11.0273891
Essex St SE, Minneapolis, MN 55455, USA 44.9715569 -93.231866
Evora, Magazine Rd, Coolgarten Park, Cork, Ireland 51.8887362 -8.4947274
University, FL, USA 28.0735403 -82.43735889999999
Gothenburg University Library, Renströmsgatan 4, 412 55 Göteborg, Sweden 57.6954209 11.9853213
Greifswald, Germany 54.08654629999999 13.3923414
Hamburg Square, La Jolla, CA 92037, USA 32.8831914 -117.24534
Hawaii, Tempe, AZ 85281, USA 33.4229288 -111.8883942
Helsinki St, Tel Aviv-Yafo, Israel 32.083852 34.79197
Kwara State University, Ilorin, Nigeria 8.5080482 4.5849938
Jaffna College, AB21, Sri Lanka 9.7297203 79.94829920000001
University Of Kansas, Overland Park, KS 66213, USA 38.8991444 -94.72548929999999
University Road, Ernakulam, Kerala, India 10.0440105 76.3252442
University Of London, 1-11 Cartwright Gardens, Kings Cross, London WC1H 9EB, UK 51.5266171 -0.1260773
Malaga, Irvine, CA 92614, USA 33.6784104 -117.814595
Malaya, Diliman, Lungsod Quezon, Kalakhang Maynila, Philippines 14.6349377 121.0560147
University of Manchester, 72 Sackville St, Manchester, Manchester M1 3NJ, UK 53.4751017 -2.2353695
University of Michigan, Ann Arbor, MI, USA 42.2783714 -83.7371794
Columbia Ave, University City, MO 63130, USA 38.6598662 -90.3123536
Bandaranayake Mawatha, Moratuwa, Sri Lanka 6.7959931 79.8970038
University Department of Biophysics, University of Mumbai,Vidya Nagari, Kalina, Santacruz East, Mumbai, Maharashtra 400098, India 19.0702629 72.8571551
Nebraska, El Paso, TX 79930, USA 31.80783 -106.468841
Lincoln Hwy, United States 40.7953392 -98.683717
University of New Haven, Branford Trolley Trail, Branford, CT 06405, USA 41.2692748 -72.75524779999999
University Dr, Newcastle NSW, Australia -32.89637870000001 151.7035792
University-Notre Dame Development, 10 E 40th St #1901, New York, NY 10016, USA 40.751539 -73.9812309
Noble Ave, Guthrie, OK 73044, USA 35.8715218 -97.5672431
Ottawa, Fidel Velázquez, 31210 Chihuahua, Chih., Mexico 28.652306 -106.1181642
Oxford, OH 45056, USA 39.5069974 -84.74523099999999
Padua, Irvine, CA 92614, USA 33.6778327 -117.8151285
Pavia PV, Italy 45.1847248 9.1582069
Pennsylvania, Tempe, AZ 85281, USA 33.4238104 -111.8869146
Athens, Greece 37.983917 23.7293599
University of Pretoria, Dr Savage Rd, Pretoria, 0084, South Africa -25.7328565 28.2007589
Universidad de Salamanca, Las Calles de Alcala, Tepatitlán de Morelos, Jal., Mexico 20.8006748 -102.7653822
São Paulo, Chihuahua, Chih., Mexico 28.6853472 -106.1015266
Sarajevo, Bosnia and Herzegovina 43.8562586 18.4130763
Southern Pkwy, Louisville, KY, USA 38.19991050000001 -85.7659121
Stellenbosch University, Cape Town, 7530, South Africa -33.8812733 18.6264694
University of Tartu Physics Building, 50103 Tartu, Estonia 58.37332809999999 26.7265098
Tehran University, Tehran, Tehran, Iran 35.7058075 51.4020909
University, Austin, TX 78704, USA 30.2306914 -97.75552049999999
University of Texas at Austin, Austin, TX, USA 30.2850284 -97.7335226
Toronto, Toronto, ON M5S, Canada 43.659598 -79.3947916
Tübingen, Germany 48.5216364 9.0576448

Vishwakarma Institutes Play Ground, Yashodhan Society, Kapil Nagar, Kondhwa Budrukh, Vishwakarma, Maharashtra 411048, India 18.4574518 73.8837999
Warsaw, Pasig, Metro Manila, Philippines 14.606319 121.0977669
Washington Ave, State College, PA 16801, USA 40.835219 -77.8097999
State Ave, Wayne, WV 25570, USA 38.2407197 -82.43794009999999
State St, Tiffin, IA 52340, USA 41.707574 -91.658885
Weizmann Institute of Science, Herzl St 234, Rehovot, 76100, Israel 31.9026385 34.8085102
Board of Governors of the Colorado State University System, Fort Collins, CO 80524, USA 40.5683722 -105.0747026
Xavier College, Phoenix, AZ 85012, USA 33.5047266 -112.0657477
Rd inside Zagazig University, Shaibet an Nakareyah, Markaz El-Zakazik, Ash Sharqia Governorate, Egypt 30.5848529 31.4843221
Allama Iqbal Open University, Faisalabad, Pakistan 31.4932177 73.10517779999999
State Ave, Tempe, AZ 85281, USA 33.4232051 -111.8879509
State of Minas Gerais, Brazil -18.512178 -44.5550308
W University St, Wichita, KS, USA 37.6782034 -97.41333139999999
Av. Complutense, Madrid, Madrid, Spain 40.4469796 -3.7278167
Patras Dr, Pasadena, TX 77505, USA 29.6524714 -95.1358224
Padua, Irvine, CA 92614, USA 33.6778327 -117.8151285
298 records written to where.js
Open where.html to view the data in a browser